<widget id="com.phonegap.example" version="0.1.0">
	<name>Example App</name>
	<!-- 
	TODO feature
	http://api.phonegap.com/1.0/camera
	http://api.phonegap.com/1.0/contacts
	http://api.phonegap.com/1.0/file
	http://api.phonegap.com/1.0/geolocation
	http://api.phonegap.com/1.0/media
	http://api.phonegap.com/1.0/network
	http://api.phonegap.com/1.0/notification	
    -->
    <icon src="img/icon-57.png" width="57" height="57" />
    <icon src="img/icon-72.png" width="72" height="72" />
    <icon src="img/icon-114.png" width="114" height="114" />
</widget>
